extends layout

block content
  .flex.flex-row.flex-wrap
    each item in item_list
      console.log(item)
      .card.card-compact.w-96.bg-base-100.shadow-xl.m-8
        figure
          img(src='/images/refrigerator.webp' alt='Refrigerator')
        .card-body
          h2.card-title #{item.name}
          p.badge Category: #{item.category.name}
          p #{item.description} 
          .card-actions.justify-start
            button.btn.btn-primary Buy Now