extends layout

block content
  .flex.flex-row.flex-wrap
      each item in (item_list === undefined ? [{name: "loading", description: "loading", url: "none", category: {name: "loading"}}] : item_list)
        console.log(item)
        console.log(item.url)
        .card.card-compact.w-96.bg-base-100.shadow-xl.m-8.z-0
          figure
            img(src=(item.image === undefined ? '/images/refrigerator.webp' : "data:image/jpeg;base64," + item.image.toString("base64")))
          .card-body
            //- p.badge | Category: #{item.category.name}
            h2.card-title #{item.name}
            p #{item.description} 
            .card-actions.justify-start
              a(href=item.url)
                button.btn.btn-primary Learn More