doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="/stylesheets/output.css" rel="stylesheet")
  body
    .navbar.bg-base-100.z-10
      .flex-1
        a.btn.btn-ghost.normal-case.text-xl(href="/") Eric's Appliances
      .flex-none
        ul.menu.menu-horizontal.px-1.z-10
          li
            a(href="category/create") Create Category
          li
            a(href="item/create") Create Item
          li(tabindex='0')
            a
              | Shop By Appliance
              svg.fill-current(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24')
                path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')
            ul.p-2.bg-base-100
              each category in category_list
                li
                  a(href=category.url) #{category.name}
    block content
